<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iDTech Technologies</title>
    <style>
    table, th, td {
        border: 1px solid rgba(0, 0, 0, 0.466);
      }
      

      } </style>
</head>
<body>
    <h1>Employees details</h1>
    <a href="/" name='Home'>Home</a>
    <a href="/admin/" name='Amin'>Admin</a>
    <table>
          <div>
          <th>First Name</th>
          <td>Last Name</td>
          <td>Date of Birth</td>
          <td>Position</td>
          <td>Date of Joining</td></div>
{% for i in list %}
<tr>
    <td>{{i.first_name}}</td>
    <td>{{i.last_name}}</td>
    <td>{{i.dob}}</td>
    <td>{{i.position}}</td>
    <td>{{i.date_of_join}}</td>
</tr>

{% endfor %}
</table>
</html>